button {
  border: #4f4f4f 0.25vmin solid;
  box-shadow: 0 0 2em -0.1em transparent;
  background-color: transparent;
  font-size: 42px;
  font-weight: 375;
  padding: 0.25em 0.7em;

  position: relative;
  top: 20%;
  left: 50%;

  transform: translate(-50%, -50%);

  color: var(--light-blue);
  transition: 0.3s box-shadow, 0.3s border-color, 0.3s color;
}

button:hover {
  cursor: pointer;
  color: var(--light-gray);
  border-color: var(--light-gray);
  box-shadow: 0 0 1.25em -0.1em var(--medium-gray);
}

button:active {
  color: #4f4f4f;
  background-color: var(--light-gray);
  border-color: #101010;
  box-shadow: 0 0 1.25em -0.1em var(--medium-gray);
}
