.grid {
  display: grid;
  grid-template-columns: repeat(3, 18vmin);
  grid-template-rows: repeat(3, 18vmin);
  gap: 1vw;
  position: relative;
  overflow: hidden;

  /* gradient here */
  --light-color: #37d5d6;
  --medium-color: #593693;
  --dark-color: #36096d;
  --w: 80vw;
  --degrees: 60deg;
  --sinus: 0.866;
  --gradient: repeating-linear-gradient(
    var(--degrees),
    var(--light-color),
    var(--medium-color),
    var(--dark-color),
    var(--light-color) var(--w)
  );

  background-image: var(--gradient);
  background-size: calc(var(--w) / var(--sinus)) 100%;

  animation: passive-gradient 3s linear infinite forwards;
}

@keyframes passive-gradient {
  0% {
    background-position: calc(var(--w) / var(--sinus)) 0%;
  }
}

.cover {
  z-index: 0;
  content: "";
  position: absolute;
  left: -310%;
  top: -310%;
  width: 300%;
  height: 300%;
  background-color: #101010;
  border-radius: 18vw 0;
}

@keyframes blank {
  0% {
    left: -310%;
    top: -310%;
  }
  100% {
    left: 100%;
    top: 100%;
  }
}
.grid > *:not(.cover) {
  background-color: transparent;
  z-index: 10;
}
