.grid {
  display: grid;
  width: 50vmin;
  max-width: 340px;
  aspect-ratio: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1vmin;
  position: relative;
  overflow: hidden;

  animation: passive-gradient 3s linear infinite forwards;
}

.blue-gradient {
  background-image: var(--blue-gradient);
  background-size: calc(var(--w) / var(--sinus)) 100%;
}
.red-gradient {
  background-image: var(--red-gradient);
  background-size: calc(var(--w) / var(--sinus)) 100%;
}
.gray-gradient {
  background-image: var(--gray-gradient);
  background-size: calc(var(--w) / var(--sinus)) 100%;
}

@keyframes passive-gradient {
  0% {
    background-position: calc(var(--w) / var(--sinus)) 0%;
  }
}

.cover {
  z-index: 0;
  content: '';
  position: absolute;
  left: -310%;
  top: -310%;
  width: 300%;
  height: 300%;
  background-color: #101010;
  border-radius: 18vw 0;
}

@keyframes blank {
  0% {
    left: -310%;
    top: -310%;
  }
  100% {
    left: 100%;
    top: 100%;
  }
}
.grid > *:not(.cover) {
  background-color: transparent;
  z-index: 10;
}
