.centerd {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  will-change: transform;
  transform: translate(-50%, -60%);
}

.centered > * {
  overflow: hidden;
}
